FOUNDRY_PROFILE=deployments

# For contract deployment
# ------------------------

# RPC URL for the target chain to deploy onto
RPC_URL=

# Private key of the deployer account (must hold native gas tokens)
# or use --account <keystore-name> instead
DEPLOYER_PK=


# For contract verification
# --------------------------

ETHERSCAN_API_KEY=
