//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true
auto-install-peers=true
link-workspace-packages=deep
prefer-workspace-packages=true
# strict-peer-dependencies=false
