/packages/LSP6KeyManager/contracts/LSP6Constants.sol
/artifacts
/cache
/types
/out
/lib
/coverage
/dist
/devdocs
/userdocs
/common
/package
/module
packages/*/types/
packages/*/artifacts/
packages/*/CHANGELOG.md
