/packages/LSP6KeyManager/contracts/LSP6Constants.sol
artifacts/
cache/
types/
out/
dist/
userdocs/
devdocs/
docs/
/lib
/coverage
/common
/package
/module
packages/*/types/
packages/*/artifacts/
packages/*/CHANGELOG.md
package-lock.json
