{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "trailingComma": "es5",
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "tabWidth": 2,
        "printWidth": 100,
        "trailingComma": "all",
        "singleQuote": false
      }
    },
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 100,
        "compiler": "0.8.15"
      }
    }
  ]
}
