# This workflow build and publish NPM artifacts
name: Publish NPM artifacts

on:
  repository_dispatch:
    types: [trigger-release]

jobs:
  npm-build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js '16.15.0'
        uses: actions/setup-node@v2
        with:
          node-version: "16.15.0"
          registry-url: "https://registry.npmjs.org"
          scope: "@lukso"
          cache: "npm"

      - name: Install
        run: |
          npm ci

      - name: Build and Test
        run: |
          npm run build --if-present
          npm run test

      - name: Publish
        run: |
          npm run package
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_KEY }}
