name: Solhint CI
on:
  pull_request:
    branches:
      - "*"
jobs:
  solhint:
    name: runner / solhint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js v16
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: "npm"

      - run: npm ci

      - name: Run Solhint Linter on Smart Contracts
        run: npm run linter
